/* root */
:root
{
    --backMenu: aliceblue;
    --backArticle: blueviolet;
}

/* Paramètre généraux */
html
{
    box-sizing: border-box;
    margin: 0%;
}

*, *::before, *::after
{
    box-sizing: inherit;
}


body
{
    display: grid;
    grid-template-columns: 200px 3fr;
    grid-template-rows: 1fr 4fr 100px;
    grid-template-areas: 
                        "zoneHeader zoneHeader"
                        "zoneNav zoneArticle"
                        "zoneLogo zoneArticle";

    margin: 0%;
    height: 100vh;
    /* padding: 0%; */

    background-color: var(--backArticle);
}

/* Paramètre de box niveau 0*/

header
{
    grid-area: zoneHeader;

    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: var(--backMenu);
    margin: 0px;
    
}

nav
{
    grid-area: zoneNav;

    /* display: flex;
    flex-direction: column;
    justify-content: space-around; */
    background-color: var(--backMenu);
    
}

article
{
    grid-area: zoneArticle;

    /* background-color: var(--backArticle); */
}

footer
{
    grid-area: zoneLogo;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: var(--backMenu);
}

/* Paramètre de box niveau 1 */
#menuTitre
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 200px;
    background-color: var(--backMenu);
    height: 100%;
    margin-left: 13px;
    margin-right: 13px;
}

#pageTitre
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
    
    width: 100%;
    height: 100%;
    background-color: var(--backArticle);

    margin-top: 0px;
    margin-bottom: 0px;
}

li
{
    padding: 5px;
    list-style-type: none;

} 

 /* Paramètre de dernier niveau */

h1
{
    margin: 42px
}

p
{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    text-align: justify;
    padding: 20px;
}

img
{
    width: 100px;
}